
<div class="missing-error">
  <h1>Derp?</h1>
  <h3>When Nginx can't figure out what to do with your request, you could get this.</h3>
  <p>Your browser did something unexpected. Please contact us if the problem persists.</p><a data-ui-sref="user.the-beginning" class="pure-button primary-gray">Return To MyQuestis</a>
</div>
<footer class="pure-g-r header">
  <div class="pure-u-1-2">
    <ul class="menu">
      <li class="help"><a href="#">Help & Support</a></li>
      <li><a href="http://www.questisportfolio.com/academy/" target="_blank">Blog</a></li>
      <li><a href="#">Terms</a></li>
      <li><a href="#">Privacy</a></li>
    </ul>
  </div>
  <div class="pure-u-1-2">
    <div class="copyright">&copy; 2014 Questis - All rights reserved.</div>
  </div>
</footer>