
<div class="container">
  <header class="portfolio-header">
    <h1>Portfolio<span>A small sample of some of my web and application development work. Since I've spent most of my career working for Web &amp; Application Development firms, I don't have much work that I can "show" due to the confidential or proprietary nature of them all. Check out my LinkedIn page for my resume/work history or browse some of the sample work I've listed below.</span></h1>
    <div class="portfolio-links"><a href="https://www.facebook.com/curt.blanton" title="Previous Demo" class="portfolio-icon"><i class="fa fa-facebook-square fa-2x"></i></a><a href="https://www.linkedin.com/in/curtis-blanton-7794255?trk=nav_responsive_tab_profile_pic" title="Previous Demo" class="portfolio-icon"><i class="fa fa-linkedin-square fa-2x"></i></a><a href="mailto:curt.blanton@gmail.com" title="Email me" class="portfolio-icon"><i class="fa fa-envelope fa-2x"></i></a></div>
  </header>
  <div class="content">
    <div class="pattern pattern--hidden"></div>
    <div class="wrapper">
      <div ng-repeat="card in portfolioCtrl.cards" class="card">
        <div class="card__container card__container--closed">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 1920 1200" preserveaspectratio="xMidYMid slice" class="card__image">
            <defs>
              <clippath id="clipPath{{$index}}">
                <polygon points="0,1200 0,0 1920,0 1920,1200" class="clip"></polygon>
              </clippath>
            </defs>
            <image clip-path="url(#clipPath{{$index}})" width="1920" height="1200" xlink:href="{{ card.imageUrl }}"></image>
          </svg>
          <div class="card__content"><i class="card__btn-close fa fa-times"></i>
            <div class="card__caption">
              <h2 class="card__title">{{ card.title }}</h2>
              <p class="card__subtitle">{{ card.subtitle }}</p>
            </div>
            <div class="card__copy">
              <div class="meta"><span class="meta__date"><strong>Date: </strong>{{ card.date }}</span>
              </div>
              <p ng-repeat="paragraph in card.paragraphs"><span>{{ paragraph }}</span></p>
              <div ng-if="card.extra_images.length">
                <ul class="list__extra__images">
                  <li ng-repeat="image in card.extra_images"><img ng-src="{{ image }}" alt="{{ card.title }}-{{$index}}" class="extra__image"/></li>
                </ul>
              </div>
              <p ng-if="card.links.length" class="links__title"><strong>Link</strong></p>
              <div ng-repeat="link in card.links"><a ng-href="{{link}}" target="_blank">{{ link }}</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="portfolio-footer">
    <h1>Thanks for looking!<span>Come back soon to see some cool new stuff that I currently have in the works.</span></h1>
  </footer>
</div>