# dependencies
node_modules/
pnpm-lock.yaml

# build output
dist/
.astro/

# testing
e2e/output/
blob-report/
playwright/.cache/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
pnpm-debug.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated
public/sw.js
public/animation
public/fonts
public/geojson

# caches
.cspellcache
.stylelintcache
.eslintcache
