---

---

<h2 class="mb-0 self-end font-extrabold sm:max-w-[18ch]">
	I'm Curtis, A full-stack developer based in Charleston, SC.
</h2>
<div class="self-end">
	<div
		class="mb-4 font-sans font-semibold !leading-normal text-base-content text-base sm:text-xl xl:text-base"
	>
		My 15+ years of hands-on experience developing scalable and maintainable websites and apps
		includes all the usual&nbsp;
		<div class="dropdown dropdown-bottom sm:dropdown-left sm:dropdown-hover">
			<span role="link" class="underline decoration-double">skills</span>
			<div
				class="card dropdown-content compact rounded-box z-[1] w-64 bg-base-100 shadow max-sm:-ml-24"
			>
				<div class="card-body block">
					<span class="text-slate-500"> So hands on experience with React, Vue, and Angular?</span>
					 All of them.
					<span class="text-slate-500"> Flutter?</span>
					 I've built a prototype, but its my top-secret-make-me-rich one day so no sneak peeks yet.


					<span class="text-slate-500"> SolidJS?</span>
					 That's basically React and yes, view the source of this site.
					<span class="text-slate-500">
						Even server frameworks like NodeJS, .NET, and Laravel?
					</span>
					 Yep, even .NET I'm afraid. I've even architected a browser extension that scraped job and
					contact information from sites people visited.
				</div>
			</div>
		</div> &nbsp;you’d expect from a senior-level software developer, including your typical 3rd
		party
		<div class="dropdown sm:dropdown-end sm:dropdown-left sm:dropdown-hover">
			<span role="link" tabindex="0" class="underline decoration-double">
				biz-ops integrations</span
			>
			<div
				id="integrations-dialog"
				role="dialog"
				class="card dropdown-content compact rounded-box z-[1] w-64 bg-base-100 shadow"
			>
				<div class="card-body block">
					<span class="inline text-slate-500"> CMS systems like</span>
					 Salesforce and HubSpot.
					<span class="inline text-slate-500">
						Payment gateways and subscription management services like
					</span>
					 Stripe and Square.
					<span class="inline text-slate-500">
						The countless customer service/user feedback apps out there.
					</span>
					 Integrations with your favorite social networks.
					<span class="inline text-slate-500">
						And even integrations with integration managers like
					</span>
					 Zapier.
				</div>
			</div>
		</div>. With a diverse skill set that includes UX design, UI design, full stack development, and
		operational architecture, I'm a well-rounded digital professional, that strives for nothing less
		than delivering inclusive software, available on the majority of devices.
	</div>
</div>
