---
import { Image } from 'astro:assets';
import 'maplibre-gl/dist/maplibre-gl.css';
import memoji from '@/assets/images/memoji.png';
import LocationNavigation from '@/components/about/location-navigation.astro';
import '@/components/about/location.css';
---

<div
	id="location-map-wrapper"
	class="relative h-full w-full"
>
	<div
		id="location-map"
		class="h-full min-h-16 w-full"
	>
		<div class="flex h-full w-full flex-col items-center justify-center">
			<div class="loading loading-dots loading-md"></div>
			<div class="text-center uppercase">Loading...</div>
		</div>
	</div>
	<div
		id="map-marker"
		class="hidden"
	>
		<Image
			src={memoji}
			alt="Its a me"
			widths={[72, 120, 220, memoji.width]}
		/>
	</div>
	<LocationNavigation />
</div>

<script>
	import { registerTransitionModule } from '@/utils/module-loader';

	registerTransitionModule(async () => {
		const locationMap = await import('../../lib/map/index.ts').then(
			(module) => new module.default(),
		);
		return () => locationMap?.destroy();
	});
</script>
