---

---

<div
	id="map-nav-controls"
	class="maplibregl-control-container hidden"
>
	<div class="maplibregl-ctrl-bottom-left">
		<div class="maplibregl-ctrl maplibregl-ctrl-group">
			<button
				class="maplibregl-ctrl-zoom-in"
				type="button"
				title="Zoom in"
				aria-label="Zoom in"
				aria-disabled="true"
				disabled=""
				id="zoom-in-button"
			>
				<span
					class="maplibregl-ctrl-icon-wrapper"
					aria-hidden="true"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="lucide lucide-plus"
					>
						<path d="M5 12h14"></path>
						<path d="M12 5v14"></path>
					</svg>
				</span>
			</button>

			<button
				class="maplibregl-ctrl-zoom-out"
				type="button"
				title="Zoom out"
				aria-label="Zoom out"
				aria-disabled="false"
				id="zoom-out-button"
			>
				<span
					class="maplibregl-ctrl-icon-wrapper"
					aria-hidden="true"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="lucide lucide-minus"
					>
						<path d="M5 12h14"></path>
					</svg>
				</span>
			</button>
		</div>
	</div>
</div>

<style>
	.maplibregl-ctrl-bottom-left {
		width: 100%;
		padding: 0;
	}

	.maplibregl-ctrl-group {
		position: relative;
		width: 100%;
		padding: 0;
	}

	.maplibregl-ctrl {
		box-shadow: none;
	}

	.maplibregl-ctrl button {
		position: absolute;
		bottom: 0.75rem;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2rem;
		height: 2rem;
		padding: 0;
		border: none;
		border-radius: 9999px;
		background-color: rgb(255 255 255);
		color: rgb(51 60 77);
		font-size: 0.875rem;
		line-height: 1.25rem;
		opacity: 100%;
		cursor: pointer;
		transition: box-shadow 0.2s ease 0s;
	}

	.maplibregl-ctrl button:active,
	.maplibregl-ctrl button:focus,
	.maplibregl-ctrl button:hover {
		border-radius: 9999px;
		box-shadow:
			rgb(255 255 255) 0 0 0 1px,
			rgb(255 255 255 / 50%) 0 0 0 6px;
		cursor: pointer;
		transition: box-shadow 0.2s ease-out 0s;
	}

	.maplibregl-ctrl button:disabled {
		display: none;
	}

	.maplibregl-ctrl-zoom-out {
		left: 0.75rem;
	}

	.maplibregl-ctrl-zoom-in {
		right: 1.5rem;
	}

	@media (width >= 40rem) {
		.maplibregl-ctrl button {
			width: 4rem;
			height: 4rem;
		}

		.maplibregl-ctrl-zoom-in {
			right: 4rem;
		}
	}

	@media (width >= 64rem) {
		.maplibregl-ctrl button {
			width: 3rem;
			height: 3rem;
		}

		.maplibregl-ctrl-zoom-in {
			right: 2.5rem;
		}
	}
</style>
