---
import { Image } from 'astro:assets';
import 'maplibre-gl/dist/maplibre-gl.css';
import memoji from '@/assets/images/memoji.png';
import LocationNavigation from '@/components/about/location-navigation.astro';
import '@/components/about/location.css';
---

<div
	id="location-map-wrapper"
	class="relative h-full w-full"
>
	<div
		id="location-map"
		class="min-h-16 h-full w-full"
	>
		<div class="flex h-full w-full flex-col items-center justify-center">
			<div class="loading loading-dots loading-md"></div>
			<div class="text-center uppercase">Loading...</div>
		</div>
	</div>
	<div
		id="map-marker"
		class="hidden"
	>
		<Image
			src={memoji}
			alt="Its a me"
			widths={[72, 120, 220, memoji.width]}
		/>
	</div>
	<LocationNavigation />
</div>

<script>
	import { eventBus } from '@/utils/event-bus';
	import { TRANSITION_AFTER_PREPARATION } from 'astro:transitions/client';

	async function loadModules() {
		const locationMap = await import('../../lib/location-map.ts').then(
			(module) => new module.default(),
		);
		document.addEventListener(TRANSITION_AFTER_PREPARATION, () => locationMap?.destroy());
	}

	document.addEventListener(
		'astro:page-load',
		() => {
			loadModules();
			eventBus.on('landingLoaded', loadModules);
		},
		{ once: true },
	);
</script>
