---
import SvgSprite from '@/components/SvgSprite.astro';
import { getCollection } from 'astro:content';

const socials = await getCollection('social');
---

<div class="social-card h-full">
	<div class="background"></div>
	<div class="social-icon-wrapper">
		<svg
			class="social-icon"
			xmlns="http://www.w3.org/2000/svg"
			width="24"
			height="24"
			viewBox="0 0 24 24"
			fill="none"
			stroke="currentColor"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
		>
			<circle
				cx="18"
				cy="5"
				r="3"
			></circle>
			<circle
				cx="6"
				cy="12"
				r="3"
			></circle>
			<circle
				cx="18"
				cy="19"
				r="3"
			></circle>
			<line
				x1="8.59"
				x2="15.42"
				y1="13.51"
				y2="17.49"
			></line>
			<line
				x1="15.41"
				x2="8.59"
				y1="6.51"
				y2="10.49"
			></line>
		</svg>
	</div>

	{
		socials.map((social) => (
			<a
				aria-label={`Go to my ${social.data.name} profile`}
				class={`link ${social.data.name.toLowerCase()}`}
				href={social.data.link}
				rel="me noopener noreferrer"
				target="_blank"
			>
				<span class="link-icon-wrapper">
					<SvgSprite
						name={social.data.icon}
						class="h-4 w-4 fill-white sm:h-8 sm:w-8 lg:h-4 lg:w-4"
					/>
				</span>
			</a>
		))
	}
</div>

<div class="extra link"></div>

<style>
	.social-card {
		@apply relative overflow-hidden transition-all duration-[1s] ease-[ease-in-out] max-sm:min-h-[6rem];

		background: rgb(212 212 212);

		.background {
			@apply absolute inset-0;

			background: radial-gradient(
				circle at 100% 107%,
				rgb(255 138 204) 0%,
				rgb(156 184 237) 30%,
				rgb(0 255 238) 60%,
				rgb(97 194 255) 100%
			);
		}

		.social-icon {
			@apply h-10 w-10 stroke-[white];
		}

		.link-icon-wrapper {
			@apply m-2 inline-block h-4 w-4;

			svg {
				@apply w-full transform-gpu fill-[rgba(107,96,96,0.8)] transition-all duration-[0.5s] ease-[ease-in-out];
			}
		}

		.facebook {
			@apply bottom-[-80%] left-[-80%] h-[80%] w-[80%] hover:before:opacity-100;

			&::before {
				background: radial-gradient(circle at 30% 107%, rgb(189 189 189) 0%, rgb(64 119 191) 90%);
			}
		}

		.github {
			@apply bottom-[-68%] left-[-68%] h-[68%] w-[68%] delay-[0.2s] hover:before:opacity-100;

			&::before {
				background: radial-gradient(
					circle at 30% 107%,
					rgb(250 250 250) 0%,
					rgb(245 245 245) 5%,
					rgb(110 84 148) 60%,
					rgb(64 119 191) 90%
				);
			}
		}

		.instagram {
			@apply bottom-[-56%] left-[-56%] h-[56%] w-[56%] delay-[0.4s] hover:before:opacity-100;

			&::before {
				background: radial-gradient(
					circle at 30% 107%,
					rgb(253 244 151) 0%,
					rgb(253 244 151) 5%,
					rgb(255 83 212) 60%,
					rgb(98 194 254) 90%
				);
			}
		}

		.linkedin {
			@apply bottom-[-44%] left-[-44%] h-[44%] w-[44%] delay-[0.6s] hover:before:opacity-100;

			&::before {
				background: radial-gradient(circle at 30% 107%, rgb(189 189 189) 0%, rgb(0 161 219) 90%);
			}
		}

		.twitter {
			@apply bottom-[-32%] left-[-32%] h-[32%] w-[32%] delay-[0.8s] hover:before:opacity-100;

			&::before {
				background: radial-gradient(
					circle at 30% 107%,
					rgb(245 248 250) 0%,
					rgb(102 117 128) 5%,
					rgb(54 215 255) 60%,
					rgb(0 170 237) 90%
				);
			}
		}

		.extra {
			@apply bottom-[-20%] left-[-20%] h-[20%] w-[20%] delay-[0.6s];
		}
	}

	.social-icon-wrapper {
		@apply absolute bottom-5 right-5;
	}

	.social-card .link {
		@apply absolute rounded-[10%_13%_42%_0%/10%_12%_75%_0%] border-r border-t-2 border-solid border-r-[white] border-t-white p-2.5 text-right shadow-[rgba(100,100,111,0.364)_-7px_7px_29px_0px] before:absolute before:inset-0 before:rounded-[inherit] before:content-[""];

		background: rgb(255 255 255 / 38.9%);
	}

	@media screen and (hover: hover) and (pointer: fine) {
		.social-card .link {
			@apply origin-bottom-left transition-all duration-[1s] ease-[ease-in-out] before:opacity-0 before:ease-[ease-in-out];

			&:hover svg {
				@apply fill-[white];

				filter: drop-shadow(0 0 5px rgb(255 255 255));
			}
		}

		.social-icon-wrapper {
			@apply bottom-2/4 right-2/4 translate-x-2/4 translate-y-2/4 transform-gpu transition-all duration-[0.6s] ease-[ease-in-out];
		}

		.social-card:hover .link {
			@apply -bottom-px -left-px;
		}

		.social-card:hover .social-icon-wrapper {
			@apply bottom-5 right-5 translate-x-0 translate-y-0;
		}
	}

	@media screen and (orientation: portrait) and (hover: none),
		screen and (orientation: landscape) and (hover: none) {
		.social-card {
			.link {
				@apply -bottom-px -left-px;

				svg {
					@apply fill-[white];

					filter: drop-shadow(0 0 5px rgb(255 255 255));
				}
			}

			.social-icon-wrapper {
				@apply bottom-5 right-5 translate-x-0 translate-y-0;
			}
		}
	}
</style>
