---
import leftHandBottom from '@/assets/hand-sex-bottom.png';
import rightHand from '@/assets/hand-sex-middle.png';
import leftHandTop from '@/assets/hand-sex-top.png';
import BackToHomeButton from '@/components/back-to-home-button.astro';
import ResizerContainer from '@/components/resizer-container.astro';
import BaseLayout from '@/layouts/base.astro';
import { Image } from 'astro:assets';

const title = `Immature Responsive Design`;
---

<BaseLayout meta={{ title }}>
	<div class="immature-page-content relative h-full w-full px-0.5 pb-0 pt-8 lg:px-24 lg:pt-24">
		<div class="mx-auto flex w-full items-center px-16">
			<BackToHomeButton />

			<h1 class="page-header text-center text-white max-lg:!text-8xl lg:max-w-4xl">
				Responsive design can be so immature
			</h1>
		</div>

		<ResizerContainer class="relative mx-auto w-full">
			<div class="relative h-[60vh] min-h-[60vh] w-full select-none overflow-hidden">
				<div
					id="bottom"
					class="absolute left-0 top-1/2 w-full"
				>
					<Image
						src={leftHandBottom}
						alt="outer stacked image of a left hand"
						class="absolute left-0 top-1/2 -mt-[86px] h-auto max-w-[256px] lg:-mt-[116px] lg:h-[232px] lg:min-w-[511px]"
					/>
				</div>
				<div
					id="middle"
					class="absolute right-0 top-[57%] w-full"
				>
					<Image
						src={rightHand}
						alt="image of a right hand"
						class="absolute right-0 top-1/2 -mt-[52px] h-auto max-w-[248px] lg:-mt-[95px] lg:h-[190px] lg:min-w-[496px]"
					/>
				</div>
				<div
					id="top"
					class="absolute left-0 top-1/2 w-full"
				>
					<Image
						src={leftHandTop}
						alt="inner stacked image of a left hand"
						class="absolute -left-[1px] top-1/2 -mt-[41px] h-auto max-w-[159px] lg:-mt-[27px] lg:h-[136px] lg:min-w-[317px]"
					/>
				</div>

				<div
					class="absolute bottom-0 right-0 p-2 text-white"
					id="resize"
				>
					Resize me &gt;
				</div>
			</div>
		</ResizerContainer>
	</div>
</BaseLayout>

<style is:inline>
	@media screen and (width >= 320px) and (width <= 767px) and (orientation: portrait) {
		main {
			position: absolute;
			top: 100%;
			left: 0;
			overflow-x: hidden;
			width: 100vh;
			height: 100vw;
			transform: rotate(-90deg);
			transform-origin: left top;
		}
	}

	@media screen and (orientation: landscape) and (hover: none) {
		.immature-page-content {
			padding-top: 2.75rem;
		}

		.page-header {
			margin-left: 2rem;
			text-align: left !important;
		}

		#resize {
			font-size: clamp(
				1.6018rem,
				calc(1.6018rem + ((2.16 - 1.6018) * ((100vw - 20rem) / (96 - 20)))),
				2.16rem
			) !important;
			line-height: 1.2 !important;
		}
	}

	:global(.is-resize-limit) {
		@apply bg-red-500;
	}
</style>
