---
import SvgSprite from '@/components/SvgSprite.astro';
---

<a
	id="back-to-home-button"
	class="back-button"
	href="/"
>
	<div class="back-button-box">
		{
			Array.from({ length: 2 }).map(() => (
				<span class="back-button-elem">
					<SvgSprite
						name="arrow-left"
						class="h-auto w-6"
					/>
				</span>
			))
		}
	</div>
</a>

<style>
	.back-button {
		@apply relative top-1 z-50 ml-1 block h-14 w-14 cursor-pointer overflow-hidden border-none bg-transparent outline-none md:top-6 md:ml-6;

		&::before,
		&::after {
			@apply absolute rounded-full;

			content: '';
			inset: 7px;
		}

		&::before {
			@apply border-4 border-solid border-white;

			transition:
				opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
				transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
		}

		&::after {
			@apply border-4 border-solid border-white opacity-0;

			transition:
				opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
				transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
			transform: scale(1.3);
		}
	}

	.back-button:hover::before,
	.back-button:focus::before {
		@apply opacity-0;

		transition:
			opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
			transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transform: scale(0.7);
	}

	.back-button:hover::after,
	.back-button:focus::after {
		@apply opacity-100;

		transition:
			opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
			transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
		transform: scale(1);
	}

	.back-button-box {
		@apply absolute bottom-0 left-0 top-0 flex items-center;
	}

	.back-button-elem {
		@apply mx-4 my-0 block h-auto w-6 fill-white;

		transform: rotate(180deg);
	}

	.back-button:hover .back-button-box,
	.back-button:focus .back-button-box {
		transition: 0.4s;
		transform: translateX(-50%);
	}

	@media screen and (orientation: landscape) and (hover: none) {
		.back-button {
			@apply fixed h-32 w-32;
		}

		.back-button-elem {
			@apply mx-9 w-14;

			transform: rotate(180deg);
		}
	}
</style>
