---
import SvgSprite from '@/components/SvgSprite.astro';

interface Props {
	variant?: 'light' | 'dark';
}

const { variant = 'light' } = Astro.props;
---

<a
	id="back-to-home-button"
	class:list={[
		'back-button',
		variant === 'dark'
			? 'before:border-black after:border-black'
			: 'before:border-white after:border-white',
	]}
	href="/"
>
	<div class="back-button-box">
		{
			Array.from({ length: 2 }).map(() => (
				<span class:list={['back-button-elem', variant === 'dark' ? 'fill-black' : 'fill-white']}>
					<SvgSprite
						name="arrow-left"
						class="h-auto w-6"
					/>
				</span>
			))
		}
	</div>
</a>

<style>
	.back-button {
		@apply relative z-50 block h-14 w-14 cursor-pointer overflow-hidden border-none bg-transparent outline-none;

		&::before,
		&::after {
			@apply absolute rounded-full;

			content: '';
			inset: 7px;
		}

		&::before {
			@apply border-4 border-solid;

			transition:
				opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
				transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
		}

		&::after {
			@apply border-4 border-solid opacity-0;

			transition:
				opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
				transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
			transform: scale(1.3);
		}
	}

	.back-button:hover::before,
	.back-button:focus::before {
		@apply opacity-0;

		transition:
			opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
			transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transform: scale(0.7);
	}

	.back-button:hover::after,
	.back-button:focus::after {
		@apply opacity-100;

		transition:
			opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
			transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
		transform: scale(1);
	}

	.back-button-box {
		@apply absolute bottom-0 left-0 top-0 flex items-center;
	}

	.back-button-elem {
		@apply mx-4 my-0 block h-auto w-6;

		transform: rotate(180deg);
	}

	.back-button:hover .back-button-box,
	.back-button:focus .back-button-box {
		transition: 0.4s;
		transform: translateX(-50%);
	}

	@media screen and (orientation: landscape) and (hover: none) {
		.back-button {
			width: 8rem;
			height: 8rem;
		}

		.back-button-elem {
			width: 4rem;
			margin-right: 1.5rem;
			margin-left: 1.5rem;
			transform: rotate(180deg);
		}

		.back-button-elem svg {
			width: 3rem;
		}
	}
</style>
