---

---

<a
	href="nowayjose"
	class="group/contact-button group pointer-events-auto relative flex h-full flex-col justify-between overflow-hidden p-6 no-underline md:p-10"
	id="contact-button"
	target="_blank"
	rel="noopener noreferrer"
>
	<div class="relative z-10 -ml-10 mt-0 w-[110%] max-sm:mb-10">
		<div id="contact-button-animation"></div>
	</div>

	<div>
		<h3 class="mb-4 !leading-none text-info-content !text-6xl lg:!text-5xl">
			Wanna talk? Send me a message.
		</h3>
		<p
			id="email-text"
			class="mb-0 text-info-content text-base"
		>
		</p>
	</div>
</a>

<script>
	import { injectContactEmailLink, injectContactEmailTextContent } from '@/utils/email';
	import lottie from 'lottie-web';

	const CONTACT_BUTTON_ID = 'contact-button';

	function initContactButton() {
		const emailTextEl = document.getElementById('email-text');
		if (emailTextEl) {
			injectContactEmailTextContent(emailTextEl);
		}

		const contactButton = document.getElementById(CONTACT_BUTTON_ID);
		const contactButtonAnimationEl = document.getElementById('contact-button-animation');

		if (contactButton && contactButtonAnimationEl) {
			injectContactEmailLink(contactButton as HTMLAnchorElement);

			let animationCompleted = true;

			const animation = lottie.loadAnimation({
				container: contactButtonAnimationEl,
				renderer: 'svg',
				loop: false,
				autoplay: false,
				path: '/animation/lottie-contact-button-animation.json',
				initialSegment: [25, 25],
				rendererSettings: {
					progressiveLoad: true,
				},
			});

			animation.addEventListener('complete', () => {
				animationCompleted = true;
			});

			contactButton.addEventListener('mouseenter', () => {
				if (animationCompleted) {
					animation?.playSegments([0, 25], true);
					animationCompleted = false;
				}
			});
		}
	}

	document.addEventListener('astro:page-load', initContactButton);
</script>
