---
import About from '@/components/about/about.astro';
import HeaderContent from '@/components/header-content.astro';
import ProjectCard from '@/components/project-card.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection('project');
---

<header
	id="header"
	class="full-screen-section relative -mb-[100vh] h-[200vh]"
>
	<div
		class="full-screen-section-content h-full-mobile sticky top-0 flex min-h-screen w-full overflow-hidden p-4 sm:p-8 lg:p-6"
	>
		<HeaderContent />
	</div>
</header>

<div>
	<section
		id="project-cards"
		class="relative h-full w-full"
	>
		{
			projects.map((project, idx) => (
				<div
					id={`project-card_${idx + 1}`}
					class="project-card full-screen-section relative -mb-[100vh] h-[250vh]"
				>
					<div class="h-full-mobile sticky top-0 flex min-h-screen w-full overflow-hidden p-4 sm:p-8 lg:p-6">
						<div class="full-screen-section-content sticky flex w-full flex-1 flex-col justify-end overflow-hidden rounded-2xl p-5 sm:rounded-3xl sm:p-20">
							<ProjectCard project={project} />
						</div>
					</div>
				</div>
			))
		}
	</section>
</div>

<footer
	id="about"
	class="relative"
>
	<About />
</footer>

<script>
	import { gsap } from 'gsap';
	import { ScrollTrigger } from 'gsap/all';

	gsap.registerPlugin(ScrollTrigger);

	function initCardSectionsAnimations() {
		const cardWrappers = document.querySelectorAll<HTMLElement>('.full-screen-section');
		cardWrappers.forEach(($el) => {
			const card = $el.querySelector<HTMLElement>('.full-screen-section-content');
			gsap.to(card, {
				scale: 0.5,
				autoAlpha: 0,
				filter: 'blur(20px)',
				scrollTrigger: {
					trigger: $el,
					start: `bottom bottom+=${card?.offsetHeight}`,
					end: `+=${window.innerHeight}`,
					scrub: true,
					invalidateOnRefresh: true,
				},
			});
		});
	}

	function initApp() {
		initCardSectionsAnimations();
	}

	document.addEventListener('astro:page-load', initApp);
</script>
