---
import About from '@/components/about/about.astro';
import HeaderContent from '@/components/header-content.astro';
import ProjectCard from '@/components/project-card.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection('project');
---

<header
	id="header"
	class="js-section-card-wrapper relative -mb-[100vh] h-[200vh]"
>
	<div
		class="js-section-card h-full-mobile sticky top-0 flex min-h-screen w-full overflow-hidden p-4 sm:p-8 lg:p-6"
	>
		<HeaderContent />
	</div>
</header>

<div>
	<section
		id="project-cards"
		class="relative h-full w-full"
	>
		{
			projects.map((project, idx) => (
				<div
					id={`project-card_${idx + 1}`}
					class="project-card js-section-card-wrapper relative -mb-[100vh] h-[250vh]"
				>
					<div class="h-full-mobile sticky top-0 flex min-h-screen w-full overflow-hidden p-4 sm:p-8 lg:p-6">
						<div class="js-section-card sticky flex w-full flex-1 flex-col justify-end overflow-hidden rounded-2xl p-5 sm:rounded-3xl sm:p-20">
							<ProjectCard project={project} />
						</div>
					</div>
				</div>
			))
		}
	</section>
</div>

<footer
	id="about"
	class="relative"
>
	<About />
</footer>

<script>
	import { eventBus } from '@/utils/event-bus';

	async function loadModules() {
		await import('../lib/section-card-scroll-animation.ts').then((module) => new module.default());
		await import('../lib/split-text.ts').then((module) => new module.default());
		const textReveal = await import('../lib/text-reveal.ts').then((module) => new module.default());
		textReveal.animate();
	}

	document.addEventListener(
		'astro:page-load',
		() => {
			loadModules();
			eventBus.on('landingLoaded', loadModules);
		},
		{ once: true },
	);
</script>
