---
import photosIcon from '@/assets/photos-min.webp';
import SvgSprite from '@/components/SvgSprite.astro';
import { Image } from 'astro:assets';
---

<div
	id="w-node-_0ae36ffd-db9e-bc03-3a06-e5c625644e5f-d4229b30"
	data-w-id="0ae36ffd-db9e-bc03-3a06-e5c625644e5f"
	class="tile sm photos"
	style="opacity: 100%;"
>
	<a
		href="https://www.icloud.com/sharedalbum/#B0sG4TcsmPMIYn"
		class="small-app-icon-div photos w-inline-block"
	>
		<Image src={photosIcon} alt="" class="small-tile-icon" />
		<!-- <img
      src="https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/630d832176e726efcbad3972_Photos-min.webp"
      loading="lazy"
      alt=""
      class="small-tile-icon"
    /> -->
	</a>
	<div
		style="transform: translate3d(0, 170%, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
		class="photos-menu"
	>
		<a
			id="photos-nav-item"
			data-w-id="da108c14-58f7-cecc-af01-9e8ce1adcd1e"
			href="#photos-everything"
			class="photos-nav-item w-inline-block"
		>
			<SvgSprite name="everything-icon" />
			<!-- <img
        src="https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/62f3408bff92d3dec1bc25b0_everything-icon.svg"
        loading="lazy"
        style="opacity: 0.5;"
        alt=""
        class="photo-icon-all"
      /> -->
		</a>
		<a
			id="photos-nav-item"
			data-w-id="0fee7596-2d03-a020-b870-cb5df0939328"
			href="#photos-places"
			class="photos-nav-item w-inline-block"
		>
			<SvgSprite name="places-icon" />
			<!-- <img
        src="https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/62f33ef05cac0a959ca7e5e6_places-icon.svg"
        loading="lazy"
        style="opacity: 0.5;"
        alt=""
        class="photo-icon-heart"
      /> -->
		</a>
		<a
			id="photos-nav-item"
			data-w-id="ae215587-1610-dafb-469b-41903222d02c"
			href="#photos-favorites"
			class="photos-nav-item w-inline-block"
		>
			<SvgSprite name="heart-icon" />
			<!-- <img
        src="https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/62f34342e3e5062aabcadb04_heart-icon.svg"
        loading="lazy"
        style="opacity: 0.5;"
        alt=""
        class="photo-icon-map"
      /> -->
		</a>
		<a
			id="photos-nav-item"
			data-w-id="e5f22f83-be63-1383-1af0-68597638dfe6"
			href="#photos-dogs"
			class="photos-nav-item w-inline-block"
		>
			<SvgSprite name="dog-icon" />
			<!-- <img
        src="https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/62f33ef00ae83f7d38631375_dog-icon.svg"
        loading="lazy"
        style="opacity: 1;"
        alt=""
        class="photo-icon-dog"
      /> -->
		</a>
	</div><div
		data-delay="7000"
		data-animation="fade"
		class="photos-slider-all w-slider"
		data-autoplay="true"
		data-easing="ease"
		style="display: none;"
		data-hide-arrows="false"
		data-disable-swipe="false"
		data-autoplay-limit="0"
		data-nav-spacing="3"
		data-duration="600"
		data-infinite="true"
		role="region"
		aria-label="carousel"
	>
		<div class="photos-slider-mask w-slider-mask" id="w-slider-mask-0">
			<div
				class="photo-slide-1-all w-slide"
				style=" z-index: 224; opacity: 100%; visibility: hidden;transform: translateX(-660px);"
				aria-label="1 of 8"
				role="group"
				aria-hidden="true"
			>
			</div><div
				class="photo-slide-2-all w-slide"
				style=" z-index: 225; opacity: 100%; visibility: hidden;transform: translateX(-660px);"
				aria-label="2 of 8"
				role="group"
				aria-hidden="true"
			>
			</div><div
				class="photo-slide-3-all w-slide"
				style=" z-index: 226; opacity: 100%; transition: opacity 600ms ease 0s;transform: translateX(-660px);"
				aria-label="3 of 8"
				role="group"
			>
				<div
					data-poster-url="https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/62f479d0b5f1513aff150bdd_map-6-poster-00001.jpg"
					data-video-urls="https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/62f479d0b5f1513aff150bdd_map-6-transcode.mp4,https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/62f479d0b5f1513aff150bdd_map-6-transcode.webm"
					data-autoplay="true"
					data-loop="true"
					data-wf-ignore="true"
					class="video w-background-video w-background-video-atom"
				>
					<video
						id="496542f7-fefe-0c58-53d8-2ba01d4077f8-video"
						autoplay=""
						loop=""
						style='background-image:url("https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/62f479d0b5f1513aff150bdd_map-6-poster-00001.jpg")'
						muted=""
						playsinline=""
						data-wf-ignore="true"
						data-object-fit="cover"
					>
						<track kind="captions" />
						<source
							src="https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/62f479d0b5f1513aff150bdd_map-6-transcode.mp4"
							data-wf-ignore="true"
						/><source
							src="https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/62f479d0b5f1513aff150bdd_map-6-transcode.webm"
							data-wf-ignore="true"
						/></video
					>
				</div>
			</div><div
				class="photo-slide-4-all w-slide"
				style=" z-index: 219; opacity: 100%; visibility: hidden;transform: translateX(-660px);"
				aria-label="4 of 8"
				role="group"
				aria-hidden="true"
			>
			</div><div
				class="photo-slide-7-all w-slide"
				style=" z-index: 220; opacity: 100%; visibility: hidden;transform: translateX(-660px);"
				aria-label="5 of 8"
				role="group"
				aria-hidden="true"
			>
			</div><div
				class="photo-slide-6-all w-slide"
				style=" z-index: 221; opacity: 100%; visibility: hidden;transform: translateX(-660px);"
				aria-label="6 of 8"
				role="group"
				aria-hidden="true"
			>
			</div><div
				class="photo-slide-8-all w-slide"
				style=" z-index: 222; opacity: 100%; visibility: hidden;transform: translateX(-660px);"
				aria-label="7 of 8"
				role="group"
				aria-hidden="true"
			>
			</div><div
				class="photo-slide-10-all w-slide"
				style=" z-index: 223; opacity: 100%; visibility: hidden;transform: translateX(-660px);"
				aria-label="8 of 8"
				role="group"
				aria-hidden="true"
			>
			</div><div aria-live="off" aria-atomic="true" class="w-slider-aria-label" data-wf-ignore="">
				Slide 3 of 8.
			</div>
		</div><div
			class="left-arrow w-slider-arrow-left"
			role="button"
			tabindex="0"
			aria-controls="w-slider-mask-0"
			aria-label="previous slide"
		>
			<div class="w-icon-slider-left"></div>
		</div><div
			id="photos-click"
			class="photos-click w-slider-arrow-right"
			role="button"
			tabindex="0"
			aria-controls="w-slider-mask-0"
			aria-label="next slide"
		>
			<div class="right-arrow-icon w-icon-slider-right"></div>
		</div><div class="slide-nav w-slider-nav w-round">
			<div
				class="w-slider-dot"
				data-wf-ignore=""
				aria-label="Show slide 1 of 8"
				aria-pressed="false"
				role="button"
				tabindex="-1"
				style=" margin-right: 3px;margin-left: 3px;"
			>
			</div><div
				class="w-slider-dot"
				data-wf-ignore=""
				aria-label="Show slide 2 of 8"
				aria-pressed="false"
				role="button"
				tabindex="-1"
				style=" margin-right: 3px;margin-left: 3px;"
			>
			</div><div
				class="w-slider-dot w-active"
				data-wf-ignore=""
				aria-label="Show slide 3 of 8"
				aria-pressed="true"
				role="button"
				tabindex="0"
				style=" margin-right: 3px;margin-left: 3px;"
			>
			</div><div
				class="w-slider-dot"
				data-wf-ignore=""
				aria-label="Show slide 4 of 8"
				aria-pressed="false"
				role="button"
				tabindex="-1"
				style=" margin-right: 3px;margin-left: 3px;"
			>
			</div><div
				class="w-slider-dot"
				data-wf-ignore=""
				aria-label="Show slide 5 of 8"
				aria-pressed="false"
				role="button"
				tabindex="-1"
				style=" margin-right: 3px;margin-left: 3px;"
			>
			</div><div
				class="w-slider-dot"
				data-wf-ignore=""
				aria-label="Show slide 6 of 8"
				aria-pressed="false"
				role="button"
				tabindex="-1"
				style=" margin-right: 3px;margin-left: 3px;"
			>
			</div><div
				class="w-slider-dot"
				data-wf-ignore=""
				aria-label="Show slide 7 of 8"
				aria-pressed="false"
				role="button"
				tabindex="-1"
				style=" margin-right: 3px;margin-left: 3px;"
			>
			</div><div
				class="w-slider-dot"
				data-wf-ignore=""
				aria-label="Show slide 8 of 8"
				aria-pressed="false"
				role="button"
				tabindex="-1"
				style=" margin-right: 3px;margin-left: 3px;"
			>
			</div>
		</div>
	</div><div
		data-delay="7000"
		data-animation="fade"
		class="photos-slider-map w-slider"
		data-autoplay="true"
		data-easing="ease"
		style="display: none;"
		data-hide-arrows="false"
		data-disable-swipe="false"
		data-autoplay-limit="0"
		data-nav-spacing="3"
		data-duration="600"
		data-infinite="true"
		role="region"
		aria-label="carousel"
	>
		<div class="photos-slider-mask w-slider-mask" id="w-slider-mask-1">
			<div
				class="photo-slide-1-map w-slide"
				style=" z-index: 225; opacity: 100%; visibility: hidden;transform: translateX(-1320px);"
				aria-label="1 of 5"
				role="group"
				aria-hidden="true"
			>
			</div><div
				class="photo-slide-2-map w-slide"
				style=" z-index: 226; opacity: 100%; visibility: hidden;transform: translateX(-1320px);"
				aria-label="2 of 5"
				role="group"
				aria-hidden="true"
			>
			</div><div
				class="photo-slide-4-map w-slide"
				style=" z-index: 227; opacity: 100%; visibility: hidden;transform: translateX(-1320px);"
				aria-label="3 of 5"
				role="group"
				aria-hidden="true"
			>
			</div><div
				class="photo-slide-5-map w-slide"
				style=" z-index: 228; opacity: 100%; visibility: hidden;transform: translateX(-1320px);"
				aria-label="4 of 5"
				role="group"
				aria-hidden="true"
			>
			</div><div
				class="photo-slide-6-map w-slide"
				style=" z-index: 229; opacity: 100%; transition: opacity 600ms ease 0s;transform: translateX(-1320px);"
				aria-label="5 of 5"
				role="group"
			>
			</div><div aria-live="off" aria-atomic="true" class="w-slider-aria-label" data-wf-ignore="">
				Slide 5 of 5.
			</div>
		</div><div
			class="left-arrow w-slider-arrow-left"
			role="button"
			tabindex="0"
			aria-controls="w-slider-mask-1"
			aria-label="previous slide"
		>
			<div class="w-icon-slider-left"></div>
		</div><div
			class="photos-click w-slider-arrow-right"
			role="button"
			tabindex="0"
			aria-controls="w-slider-mask-1"
			aria-label="next slide"
		>
			<div class="right-arrow-icon w-icon-slider-right"></div>
		</div><div class="slide-nav w-slider-nav w-round">
			<div
				class="w-slider-dot"
				data-wf-ignore=""
				aria-label="Show slide 1 of 5"
				aria-pressed="false"
				role="button"
				tabindex="-1"
				style=" margin-right: 3px;margin-left: 3px;"
			>
			</div><div
				class="w-slider-dot"
				data-wf-ignore=""
				aria-label="Show slide 2 of 5"
				aria-pressed="false"
				role="button"
				tabindex="-1"
				style=" margin-right: 3px;margin-left: 3px;"
			>
			</div><div
				class="w-slider-dot"
				data-wf-ignore=""
				aria-label="Show slide 3 of 5"
				aria-pressed="false"
				role="button"
				tabindex="-1"
				style=" margin-right: 3px;margin-left: 3px;"
			>
			</div><div
				class="w-slider-dot"
				data-wf-ignore=""
				aria-label="Show slide 4 of 5"
				aria-pressed="false"
				role="button"
				tabindex="-1"
				style=" margin-right: 3px;margin-left: 3px;"
			>
			</div><div
				class="w-slider-dot w-active"
				data-wf-ignore=""
				aria-label="Show slide 5 of 5"
				aria-pressed="true"
				role="button"
				tabindex="0"
				style=" margin-right: 3px;margin-left: 3px;"
			>
			</div>
		</div>
	</div><div
		data-delay="7000"
		data-animation="fade"
		class="photos-slider-heart w-slider"
		data-autoplay="true"
		data-easing="ease"
		style="display: none;"
		data-hide-arrows="false"
		data-disable-swipe="false"
		data-autoplay-limit="0"
		data-nav-spacing="3"
		data-duration="600"
		data-infinite="true"
		role="region"
		aria-label="carousel"
	>
		<div class="photos-slider-mask w-slider-mask" id="w-slider-mask-2">
			<div
				class="photo-slide-1-heart w-slide"
				style=" z-index: 228; opacity: 100%; visibility: hidden;transform: translateX(-330px);"
				aria-label="1 of 4"
				role="group"
				aria-hidden="true"
			>
			</div><div
				class="photo-slide-2-heart w-slide"
				style=" z-index: 229; opacity: 100%; transition: opacity 600ms ease 0s;transform: translateX(-330px);"
				aria-label="2 of 4"
				role="group"
			>
			</div><div
				class="photo-slide-4-heart w-slide"
				style=" z-index: 226; opacity: 100%; visibility: hidden;transform: translateX(-330px);"
				aria-label="3 of 4"
				role="group"
				aria-hidden="true"
			>
			</div><div
				class="photo-slide-5-heart w-slide"
				style=" z-index: 227; opacity: 100%; visibility: hidden;transform: translateX(-330px);"
				aria-label="4 of 4"
				role="group"
				aria-hidden="true"
			>
			</div><div aria-live="off" aria-atomic="true" class="w-slider-aria-label" data-wf-ignore="">
				Slide 2 of 4.
			</div>
		</div><div
			class="left-arrow w-slider-arrow-left"
			role="button"
			tabindex="0"
			aria-controls="w-slider-mask-2"
			aria-label="previous slide"
		>
			<div class="w-icon-slider-left"></div>
		</div><div
			class="photos-click w-slider-arrow-right"
			role="button"
			tabindex="0"
			aria-controls="w-slider-mask-2"
			aria-label="next slide"
		>
			<div class="right-arrow-icon w-icon-slider-right"></div>
		</div><div class="slide-nav w-slider-nav w-round">
			<div
				class="w-slider-dot"
				data-wf-ignore=""
				aria-label="Show slide 1 of 4"
				aria-pressed="false"
				role="button"
				tabindex="-1"
				style=" margin-right: 3px;margin-left: 3px;"
			>
			</div><div
				class="w-slider-dot w-active"
				data-wf-ignore=""
				aria-label="Show slide 2 of 4"
				aria-pressed="true"
				role="button"
				tabindex="0"
				style=" margin-right: 3px;margin-left: 3px;"
			>
			</div><div
				class="w-slider-dot"
				data-wf-ignore=""
				aria-label="Show slide 3 of 4"
				aria-pressed="false"
				role="button"
				tabindex="-1"
				style=" margin-right: 3px;margin-left: 3px;"
			>
			</div><div
				class="w-slider-dot"
				data-wf-ignore=""
				aria-label="Show slide 4 of 4"
				aria-pressed="false"
				role="button"
				tabindex="-1"
				style=" margin-right: 3px;margin-left: 3px;"
			>
			</div>
		</div>
	</div><div
		data-delay="7000"
		data-animation="fade"
		class="photos-slider-dog w-slider"
		data-autoplay="true"
		data-easing="ease"
		style="display: block;"
		data-hide-arrows="false"
		data-disable-swipe="false"
		data-autoplay-limit="0"
		data-nav-spacing="3"
		data-duration="600"
		data-infinite="true"
		role="region"
		aria-label="carousel"
	>
		<div class="photos-slider-mask w-slider-mask" id="w-slider-mask-3">
			<div
				class="photo-slide-2-dog w-slide"
				style=" z-index: 228; opacity: 100%; visibility: hidden;transform: translateX(-330px);"
				aria-label="1 of 6"
				role="group"
				aria-hidden="true"
			>
			</div><div
				class="photo-slide-6-dog w-slide"
				style=" z-index: 229; opacity: 100%; transition: opacity 600ms ease 0s;transform: translateX(-330px);"
				aria-label="2 of 6"
				role="group"
			>
			</div><div
				class="photo-slide-1-dog w-slide"
				style=" z-index: 224; opacity: 100%; visibility: hidden;transform: translateX(-330px);"
				aria-label="3 of 6"
				role="group"
				aria-hidden="true"
			>
			</div><div
				class="photo-slide-4-dog w-slide"
				style=" z-index: 225; opacity: 100%; visibility: hidden;transform: translateX(-330px);"
				aria-label="4 of 6"
				role="group"
				aria-hidden="true"
			>
			</div><div
				class="photo-slide-3-dog w-slide"
				style=" z-index: 226; opacity: 100%; visibility: hidden;transform: translateX(-330px);"
				aria-label="5 of 6"
				role="group"
				aria-hidden="true"
			>
				<div
					data-poster-url="https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/62f47dc604e067c698d3d874_dog-3-poster-00001.jpg"
					data-video-urls="https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/62f47dc604e067c698d3d874_dog-3-transcode.mp4,https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/62f47dc604e067c698d3d874_dog-3-transcode.webm"
					data-autoplay="true"
					data-loop="true"
					data-wf-ignore="true"
					class="video w-background-video w-background-video-atom"
					aria-hidden="true"
				>
					<video
						id="b7c22e4f-5b4b-14c3-620a-8b5b38be5af0-video"
						autoplay=""
						loop=""
						style='background-image:url("https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/62f47dc604e067c698d3d874_dog-3-poster-00001.jpg")'
						muted=""
						playsinline=""
						data-wf-ignore="true"
						data-object-fit="cover"
						aria-hidden="true"
					>
						<track kind="captions" />
						<source
							src="https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/62f47dc604e067c698d3d874_dog-3-transcode.mp4"
							data-wf-ignore="true"
						/>
						<!-- aria-hidden="true" -->
						<source
							src="https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/62f47dc604e067c698d3d874_dog-3-transcode.webm"
							data-wf-ignore="true"
						/>
						<!-- aria-hidden="true" -->
					</video>
				</div>
			</div><div
				class="photo-slide-5-dog w-slide"
				style=" z-index: 227; opacity: 100%; visibility: hidden;transform: translateX(-330px);"
				aria-label="6 of 6"
				role="group"
				aria-hidden="true"
			>
			</div><div aria-live="off" aria-atomic="true" class="w-slider-aria-label" data-wf-ignore="">
				Slide 2 of 6.
			</div>
		</div><div
			class="left-arrow w-slider-arrow-left"
			role="button"
			tabindex="0"
			aria-controls="w-slider-mask-3"
			aria-label="previous slide"
		>
			<div class="w-icon-slider-left"></div>
		</div><div
			class="photos-click w-slider-arrow-right"
			role="button"
			tabindex="0"
			aria-controls="w-slider-mask-3"
			aria-label="next slide"
		>
			<div class="right-arrow-icon w-icon-slider-right"></div>
		</div><div class="slide-nav w-slider-nav w-round">
			<div
				class="w-slider-dot"
				data-wf-ignore=""
				aria-label="Show slide 1 of 6"
				aria-pressed="false"
				role="button"
				tabindex="-1"
				style=" margin-right: 3px;margin-left: 3px;"
			>
			</div><div
				class="w-slider-dot w-active"
				data-wf-ignore=""
				aria-label="Show slide 2 of 6"
				aria-pressed="true"
				role="button"
				tabindex="0"
				style=" margin-right: 3px;margin-left: 3px;"
			>
			</div><div
				class="w-slider-dot"
				data-wf-ignore=""
				aria-label="Show slide 3 of 6"
				aria-pressed="false"
				role="button"
				tabindex="-1"
				style=" margin-right: 3px;margin-left: 3px;"
			>
			</div><div
				class="w-slider-dot"
				data-wf-ignore=""
				aria-label="Show slide 4 of 6"
				aria-pressed="false"
				role="button"
				tabindex="-1"
				style=" margin-right: 3px;margin-left: 3px;"
			>
			</div><div
				class="w-slider-dot"
				data-wf-ignore=""
				aria-label="Show slide 5 of 6"
				aria-pressed="false"
				role="button"
				tabindex="-1"
				style=" margin-right: 3px;margin-left: 3px;"
			>
			</div><div
				class="w-slider-dot"
				data-wf-ignore=""
				aria-label="Show slide 6 of 6"
				aria-pressed="false"
				role="button"
				tabindex="-1"
				style=" margin-right: 3px;margin-left: 3px;"
			>
			</div>
		</div>
	</div>
</div>

<style>
	.small-app-icon-div {
		position: relative;
		width: 56px;
		height: 56px;
	}

	.small-app-icon-div.photos {
		position: absolute;
		inset: 24px 24px auto auto;
		z-index: 22;
		min-width: 56px;
		min-height: 56px;
	}

	.small-tile-icon {
		position: relative;
		z-index: 2;
		min-width: 56px;
		min-height: 56px;
		border-radius: 12px;
		box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
		transition: box-shadow 0.25s;
	}

	.small-tile-icon:hover {
		box-shadow:
			0 10px 15px -3px rgb(0 0 0 / 10%),
			0 4px 6px -2px rgb(0 0 0 / 5%);
	}

	.photos-slider-all {
		position: absolute;
		inset: 0%;
		z-index: 0;
		height: 100%;
		border-radius: 32px;
		background-color: transparent;
	}

	.photo-slide-1-all {
		border-radius: 32px;
		background-image: url('https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/630d5b795fffcc418928727b_62f47472844ebdc9c26c54a4_map-3.jpg');
		background-position: 50%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.photos-slider-mask {
		border-radius: 32px;
	}

	.photos-menu {
		position: absolute;
		inset: auto 0% 24px;
		z-index: 20;
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 280px;
		height: 48px;
		margin-right: auto;
		margin-left: auto;
		padding: 0;
		border: 2px solid rgb(255 255 255 / 19%);
		border-radius: 56px;
		background-color: rgb(255 255 255 / 50%);
		backdrop-filter: blur(16px);
	}

	.photos-floating-indicator {
		position: absolute;
		right: 4px;
		left: 4px;
		z-index: -1;
		width: 62px;
		height: 38px;
		border-radius: 230px;
		background-color: rgb(255 255 255);
	}

	.slide-nav {
		display: none;
	}

	.photos-click {
		inset: 0%;
		z-index: 1000;
		display: flex;
		width: 100%;
	}

	.left-arrow {
		z-index: 10;
		display: none;
	}

	.video {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 328px;
	}

	.photos-nav-item {
		position: relative;
		left: 0;
		z-index: 2;
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 64px;
		min-width: 64px;
		height: 48px;
		min-height: 48px;
	}

	.photo-icon-all {
		display: block;
		width: 26px;
	}

	.photo-icon-heart,
	.photo-icon-map,
	.photo-icon-dog {
		display: block;
		width: 26px;
		opacity: 50%;
	}

	.photos-slider-heart,
	.photos-slider-map,
	.photos-slider-dog {
		position: absolute;
		inset: 0%;
		z-index: 0;
		display: none;
		height: 100%;
		border-radius: 32px;
		background-color: transparent;
	}

	.photo-slide-4-all {
		background-image: url('https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/630d5ba5a7ad3f0734be4a13_62f47472e7a1c54f31e1fbae_map-2.jpg');
		background-position: 50% 100%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.photo-slide-2-all {
		background-image: url('https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/630d5b90c5f010e93e630d27_62f47478ea0370686c47e445_dog-1.jpg');
		background-position: 50% 100%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.photo-slide-7-all {
		background-image: url('https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/630d5bb376e72603b2ab28e5_62fc9bed350bd36a754d65de_IMG_6959-min.jpg');
		background-position: 50% 90%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.photo-slide-8-all {
		background-image: url('https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/630d5bd376e7265d15ab2d92_62f47477cf38927db72e8954_dog-3.jpg');
		background-position: 50% 100%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.photo-slide-10-all {
		background-image: url('https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/630d5bed2b4487d982d4c33a_62f4747166b837990b745175_map-1.jpg');
		background-position: 50% 100%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.photo-slide-1-heart {
		background-image: url('https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/630d67882de75c28cc8ec42c_62f474695f0c0ff385ae3102_heart-1.webp');
		background-position: 50%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.photo-slide-2-heart {
		background-image: url('https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/630d67a93acada32b3013d72_62f47468b9b831e600334e26_heart-2.jpg');
		background-position: 50%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.photo-slide-4-heart {
		background-image: url('https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/630d67b70c22d9708d3d24ad_62f474690b642ddc86fdc256_heart-4.jpg');
		background-position: 50%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.photo-slide-5-heart {
		background-image: url('https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/630d67c7a7ad3f4d35bef8a1_62f4746804e0675a1bd36bb8_heart-5.webp');
		background-position: 50% 100%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.photo-slide-1-map {
		background-image: url('https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/630d5bed2b4487d982d4c33a_62f4747166b837990b745175_map-1.jpg');
		background-position: 50% 100%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.photo-slide-2-map {
		background-image: url('https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/630d5ba5a7ad3f0734be4a13_62f47472e7a1c54f31e1fbae_map-2.jpg');
		background-position: 50% 100%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.photo-slide-4-map {
		background-image: url('https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/630d600422283f9034c49d43_62f4747032f464a66ce75e6e_map-4.jpg');
		background-position: 50% 100%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.photo-slide-5-map {
		background-image: url('https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/630d601fa9b267d23b127d9a_62f474725606d877c4bccf25_map-5.jpg');
		background-position: 50% 100%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.photo-slide-1-dog {
		background-image: url('https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/630d67fdc5f010ef3863e872_62f47477844ebd34eb6c54d3_dog-4.jpg');
		background-position: 50% 90%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.photo-slide-2-dog {
		background-image: url('https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/630d67dd4a4625792b19ef36_62fc9bedce42ccefab9f4cfa_IMG_2582-min.jpg');
		background-position: 50% 100%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.photo-slide-4-dog {
		background-image: url('https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/630d6812599bc65cec8dabd9_62f4747832f4645d0de75ea0_dog-2.jpg');
		background-position: 50%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.photo-slide-5-dog {
		background-image: url('https://uploads-ssl.webflow.com/62c89bdb7c26b515f632de67/630d682922283fe99ec50a57_62f47479d0d9e1114ba1a4cb_dog-5.jpg');
		background-position: 50% 60%;
		background-size: cover;
		background-repeat: no-repeat;
	}
</style>
