---

---

<button
	id="download-resume-button"
	class="resume-button"
	title="Download resume"
>
	RESU<span id="me">ME</span>
	<span id="bubbles"></span>
</button>

<script>
	const downloadResumeButton = document.getElementById('download-resume-button');
	if (downloadResumeButton) {
		downloadResumeButton.addEventListener('click', () => window.open('/downloads/Resume.pdf'));
	}
</script>

<style>
	#me {
		position: relative;
		top: 1.5px;
		display: inline;
		border-bottom: 4px solid transparent;
		border-image: linear-gradient(0.25turn, rgb(84 95 252), rgb(13 200 237), rgb(13 200 237));
		border-image-slice: 1;
		background: linear-gradient(rgb(182 99 255), rgb(84 95 252), rgb(13 200 237));
		/* stylelint-disable-next-line property-no-vendor-prefix */
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.resume-button {
		position: relative;
		z-index: 2;
		display: inline-flex;
		gap: 0;
		align-items: center;
		height: 2rem;
		min-height: 2rem;
		padding: 0 0.75rem;
		border: 1px solid transparent;
		border-radius: 9999px;
		background-color: rgb(0 0 0);
		color: rgb(255 255 255);
		font-weight: 500;
		font-size: 0.875rem;
		line-height: 1.25rem;
		cursor: pointer;
		transition: all 0.2s ease;
	}

	.resume-button #bubbles {
		position: absolute;
		inset: 0;
		z-index: -1;
	}

	.resume-button #bubbles::before,
	.resume-button #bubbles::after {
		content: '';
		position: absolute;
		left: 50%;
		z-index: -1000;
		width: 150%;
		height: 100%;
		background-repeat: no-repeat;
		transform: translateX(-50%);
	}

	.resume-button:hover #bubbles::before {
		top: -70%;
		background-image:
			radial-gradient(circle, rgb(124 41 232) 20%, transparent 20%),
			radial-gradient(circle, transparent 20%, rgb(124 41 232) 20%, transparent 30%),
			radial-gradient(circle, rgb(84 95 252) 20%, transparent 20%),
			radial-gradient(circle, rgb(124 41 232) 20%, transparent 20%),
			radial-gradient(circle, transparent 10%, rgb(124 41 232) 15%, transparent 20%),
			radial-gradient(circle, rgb(13 200 237) 20%, transparent 20%),
			radial-gradient(circle, rgb(124 41 232) 20%, transparent 20%),
			radial-gradient(circle, rgb(13 200 237) 20%, transparent 20%),
			radial-gradient(circle, rgb(13 200 237) 20%, transparent 20%);
		background-position: 50% 120%;
		background-size:
			10% 10%,
			20% 20%,
			15% 15%,
			20% 20%,
			18% 18%,
			10% 10%,
			15% 15%,
			10% 10%,
			18% 18%;
		animation: resumeButtonTopBubbles 0.6s linear;
	}

	.resume-button:hover #bubbles::after {
		bottom: -70%;
		background-image:
			radial-gradient(circle, rgb(124 41 232) 20%, transparent 20%),
			radial-gradient(circle, rgb(84 95 252) 20%, transparent 20%),
			radial-gradient(circle, transparent 10%, rgb(124 41 232) 15%, transparent 20%),
			radial-gradient(circle, rgb(84 95 252) 20%, transparent 20%),
			radial-gradient(circle, rgb(124 41 232) 20%, transparent 20%),
			radial-gradient(circle, rgb(84 95 252) 20%, transparent 20%),
			radial-gradient(circle, rgb(124 41 232) 20%, transparent 20%);
		background-position: 50% 0%;
		background-size:
			15% 15%,
			20% 20%,
			18% 18%,
			20% 20%,
			15% 15%,
			20% 20%,
			18% 18%;
		animation: resumeButtonBottomBubbles 0.6s linear;
	}

	@media (width >= 40rem) {
		.resume-button {
			justify-self: auto;
			min-height: 3rem;
			padding: 0 1rem;
		}
	}

	@media (width >= 64rem) {
		.resume-button {
			min-height: 2.25rem;
			padding: 0 1rem;
		}
	}
</style>
