---
import SvgSprite from '@/components/SvgSprite.astro';
---

<div class="flex">
	<span class="sr-only">5 out of 5 stars</span>
	{
		Array.from({ length: 5 }).map(() => (
			<SvgSprite
				name="star"
				class="h-5 w-5 shrink-0 fill-amber-500"
				width="1em"
				height="1em"
			/>
		))
	}
</div>
