---
import TestimonialsSwiper from './testimonials-swiper.astro';
---

<div class="ml-6 mt-8 h-7 w-7 md:ml-10 md:mt-10 md:h-8 md:w-8">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 64 64">
    <path
      fill="currentColor"
      fill-rule="evenodd"
      d="M0 4.461a2 2 0 0 1 2-2h25.538a2 2 0 0 1 2 2V32a29.54 29.54 0 0 1-27.54 29.47C.896 61.546 0 60.644 0 59.539v-7.815c0-1.105.898-1.988 1.996-2.113A17.725 17.725 0 0 0 17.61 33.996c.125-1.098-.782-1.996-1.887-1.996H2a2 2 0 0 1-2-2V4.46Zm34.462 0a2 2 0 0 1 2-2H62a2 2 0 0 1 2 2V32a29.538 29.538 0 0 1-27.54 29.47c-1.102.075-1.998-.827-1.998-1.932v-7.815c0-1.105.898-1.988 1.995-2.113a17.726 17.726 0 0 0 15.615-15.614c.124-1.098-.783-1.996-1.887-1.996H36.46a2 2 0 0 1-2-2V4.46Z"
      clip-rule="evenodd"></path>
  </svg>
</div>

<TestimonialsSwiper />
