---
import SiteVerification from '@/components/common/site-verification.astro';
import Favicons from '@/components/favicons.astro';
import OpenGraph from '@/components/open-graph.astro';
import PageTransition from '@/components/page-transition.astro';
import Seo from '@/components/seo.astro';
import type { PageMetaData } from '@/types';
import { ViewTransitions } from 'astro:transitions';
import '@/styles/base.css';

export type Props = {
	meta?: PageMetaData;
};

const {
	meta = {
		title: 'Curtis Blanton Portfolio',
		description:
			"I'm a software engineer that specializes in building fun and useful applications.",
	},
} = Astro.props;
---

<!doctype html>
<html
	dir="ltr"
	lang="en"
	transition:animate="none"
>
	<head>
		<ViewTransitions />

		<Seo />
		<Favicons />
		<title>{meta.title}</title>
		<OpenGraph meta={meta} />
		<SiteVerification />

		<slot name="head-end" />
	</head>

	<body
		class="selection:text-base-neutral m-0 min-h-full bg-black font-sans font-medium leading-normal text-base-content selection:bg-rose-200"
	>
		<PageTransition />

		<main
			id="main"
			transition:name="main"
			transition:animate="initial"
		>
			<slot />
		</main>

		<div
			class="report"
			id="report"
		>
		</div>

		<slot name="body-end" />

		<script>
			import App from '@/lib/app';
			import { swMessage } from '@/utils/report';

			function initialize() {
				if (navigator.serviceWorker) {
					navigator.serviceWorker.addEventListener('message', (e) => swMessage(e));
				}

				if (sessionStorage.getItem('session-started-at')) {
					return;
				}
				sessionStorage.setItem('session-started-at', new Date().toString());
			}

			document.addEventListener('astro:page-load', () => {
				initialize();
				new App();
			});
		</script>
	</body>
</html>
